{% extends 'base.html' %}

{% block content %}
<h2>Home page</h2>
{% if user.is_authenticated %}
<h6>Welcome, {{ user.first_name }}!</h6>
<a href="{% url 'post-list' %}">Posts</a><br>
<a href="{% url 'my-post-list' %}">My posts</a><br>
<a href="{% url 'post-create' %}"><br>
    <button class="btn btn-success" type="button">New Post</button>
</a> <hr>
<strong>Your last post: </strong><br> <br>
<div class="card">
    <div class="card-body">
        <h4 class="card-title" width="50%">{{ post.title }}</h4>
        <p class="card-subtitle mb-1 text-muted"> by <a href="#"> {{ post.author }} </a></p>
        <p class="card-text mb-1 text-muted">Last update: {{ post.update_datetime }}</p>
        <br>
        <p class="card-text">{{ post.get_content_beginning }}
            <a href="{{ post.get_absolute_url }}">read</a></p>
    </div>
</div>
{% else %}
<h6>Welcome!</h6>
<a href="login">Log in</a><br>
<a href="signup">Sign up</a><br>
<a href="{% url 'post-list' %}">Posts</a>
{% endif %}
{% endblock %}